POSTGRES_DB=retailmax_db
POSTGRES_USER=retailmax
POSTGRES_PASSWORD=retailmax123

JAVA_TIMEZONE=America/Guatemala

POSTGRES_PORT=5432
METABASE_PORT=3000

MB_ADMIN_EMAIL=admin@retailmax.com
MB_ADMIN_PASSWORD=Admin1234!

